<div class="row">
    <h3>Current Listings</h3>
    <% @account.products.where("purchased = false").each do |product| %>
        <div class="col-sm-6 col-md-4 listing-box">
            <div class="thumbnail account-card">
                <%= image_tag((product.picture if product.picture.attached?), class: "account-img")%>
                <div class="caption">
                    <h3><%= product.name %></h3>
                    <h5>Price: <%= number_to_currency(product.price / 100) %></h5>
                    <h5>Condition: <%= product.condition.name %></h5>
                    <div class="account-button-container">
                        <%= link_to("View", product_path(product), class: "btn btn-default") %>
                        <%= link_to("Edit", edit_product_path(product), class: "btn btn-default") %>
                        <%= link_to("Delete", product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default") %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="row">
    <h3>Sold Items</h3>
    <% @account.products.where("purchased = true").each do |product| %>
        <div class="col-sm-6 col-md-4 listing-box">
            <div class="thumbnail account-card">
                <%= image_tag((product.picture if product.picture.attached?), class: "account-img")%>
                <div class="caption">
                    <h3><%= product.name %></h3>
                    <h5>Price: <%= number_to_currency(product.price / 100) %></h5>
                    <h5>Condition: <%= product.condition.name %></h5>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="row">
    <h3>Purchased Items</h3>
    <% @purchase.each do |bought| %>
        <div class="col-sm-6 col-md-4 listing-box">
            <div class="thumbnail account-card">
                <%= image_tag((bought.product.picture if bought.product.picture.attached?), class: "account-img")%>
                <div class="caption">
                    <h3><%= bought.product.name %></h3>
                    <h5>Price: <%= number_to_currency(bought.product.price / 100) %></h5>
                    <h5>Condition: <%= bought.product.condition.name %></h5>
                </div>
            </div>
        </div>
    <% end %>
</div>