<div class="col-sm-2">
    <%= link_to(root_path) do %>
        <div class="card category-card">
          <div class="card-body">
            <%= image_tag "category-icons/guitar.svg", alt: "Guitar Logo", class: "category-logo" %>
            <h5 class="card-title">Guitars</h5>
          </div>
        </div>
    <% end %>
</div>
<div class="col-sm-2">
    <%= link_to(root_path) do %>
        <div class="card category-card">
          <div class="card-body">
            <%= image_tag "category-icons/bass.svg", alt: "Bass Logo", class: "category-logo" %>
            <h5 class="card-title">Bass Guitars</h5>
          </div>
        </div>
    <% end %>
</div>
<div class="col-sm-2">
    <%= link_to(root_path) do %>
        <div class="card category-card">
            <div class="card-body">
                <%= image_tag "category-icons/drum.svg", alt: "Drum Logo", class: "category-logo" %>
                <h5 class="card-title">Drums & Percussion</h5>
            </div>
        </div>
    <% end %>
</div>
<div class="col-sm-2">
    <%= link_to(root_path) do %>
        <div class="card category-card">
            <div class="card-body">
                <%= image_tag "category-icons/synth.svg", alt: "Synth Logo", class: "category-logo" %>
                <h5 class="card-title">Synths & Keyboards</h5>
            </div>
        </div>
    <% end %>
</div>
<div class="col-sm-2">
    <%= link_to(root_path) do %>
        <div class="card category-card">
            <div class="card-body">
                <%= image_tag "category-icons/amp.svg", alt: "Amp Logo", class: "category-logo" %>
                <h5 class="card-title">Amplifiers</h5>
            </div>
        </div>
    <% end %>
</div>
<div class="col-sm-2">
    <%= link_to(root_path) do %>
        <div class="card category-card">
            <div class="card-body">
                <%= image_tag "category-icons/pro-audio.svg", alt: "Pro Audio Logo", class: "category-logo" %>
                <h5 class="card-title">Pro Audio</h5>
            </div>
        </div>
    <% end %>
</div>
