<%= render("shared/topnav")%>

<div class="container">
    <p id="notice"><%= notice %></p>
    <div class="jumbotron">
        <h2 class="display-4">Let's find something great!</h2>
        <%= form_with url: products_path, method: "GET", local: true do |form| %>
            <%= form.text_field :search, class: "form-control", id: "hero-search", placeholder: "Search..." %>
        <% end %>
        <p class="random-product"><%= link_to("Maybe try '#{@random_product.name}'", product_path(@random_product)) %></p>
    </div>
    <div class="category-box">
        <h2 class="display-4">Shop by Category</h2>
    </div>

    <div class="row category-row">
        <%= render("categories") %>
    </div>

</div>