<%= simple_form_for @product do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>
  <!--<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>-->
  <%= form.input :price %>
  <!--<div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>-->
  <%= form.input :location, label: "Postcode" %>
  <!--<div class="field">
    <%= form.label "Postcode" %>
    <%= form.number_field :location %>
  </div>-->
  <%= form.input :description %>
  <!--<div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>-->
  <%= form.button :submit %>
  <!--<div class="actions">
    <%= form.submit %>
  </div>-->
<% end %>
