<%= render("shared/topnav") %>

<div class="container">

  <p id="notice"><%= notice %></p>
  
  <div class="row index-row">
    <h3><%= @products.count %> results found.</h3>
    <div>
      <%= form_with url: products_path, method: "get", local: true, :html => {class: "filter-form"} do |form| %>
        
        <div class="field">
          <%= form.label :category_id %><br>
          <%= form.collection_select :category_id, Category.order(:name), :id, :name, include_blank: true %>
        </div>

        <div class="field">
          <%= form.label :condition_id %><br>
          <%= form.collection_select :condition_id, Condition.order(:name), :id, :name, include_blank: true %>
        </div>

        <%= form.submit "Filter Listings", class: "btn btn-default btn-xs field" %>

      <% end %>
    </div>
  </div>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag product.picture if product.picture.attached? %>
          <div class="caption">
            <h3><%= product.name %></h3>
            <div class="condition-container">
                <%= link_to("View Product", product_path(product), class: "btn btn-default") %>
                <%= p Condition.find(product.condition_id).name + " condition" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <%= paginate @products %>
  </div>

</div>

<%= render("shared/footer") %>